/* General page styling*/
body {
    height:100%;
    background-color: #EFFBFF;
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Section 1 styling*/

.section1 {
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 40px;
    margin-top: 0;
    color: #464646;
}

.section1 > p {
    margin-top: 20px;
    margin-bottom: 25px;
}
/*Section 2 styling*/

.section2{
    display:flex;
    justify-content: center;
    gap: 50px;

}

.color{
    margin-top: 20px;
    background-color: none;
    padding: 0;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    outline: none; 
}

.sketch-controls{
    width: 200px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

 button{
    max-width: 200px;
    min-width: 100px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #464646;
    background-color: #EFFBFF; 
    border: 1px solid #b1b1b1;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover{
    color: #171717;
    transform: scale(1.02);
}

.whitespace{
    width: 200px;
    height: 500px;
}

.container{
    display: flex;
    width: 450px;
    height: 450px;
    margin: 10px;
    /*border: 3px solid black;*/
    flex:0 0 auto;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor:default;
    user-select: none;
}

.slider{
    color:#171717;
}

.borders{
    border: 1px solid black;

}

/*footer styling*/

footer{
    display:flex;
    justify-content: center;
    align-items: center;
    color: #171717;
    font-weight: bolder;
    height:30px;
    gap: 10px;
}

.rotate{
    transition: transform 0.3s ease-in-out;
}

.rotate:hover{
    transform: scale(1.2) rotate(360deg);
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer; 
}

a:visited{
    color: inherit;
    text-decoration: none;
    cursor: pointer; 

}

.newcolor{
    background-color: #464646;
    color: white;
}



