/* General page styling*/
body {
    height:100%;
}

/*Section 1 styling*/

.section1 {
    display:flex;
    justify-content: center;
    align-items: center;
}

/*Section 2 styling*/

.section2{
    display:flex;
    justify-content: space-between;

}

.sketch-controls{
    width: 200px;
    height: 500px;
}

.whitespace{
    width: 200px;
    height: 500px;
}

.container{
    display: flex;
    width: 450px;
    height: 450px;
    margin: 10px;
    border: 3px solid black;
    flex:0 0 auto;
    flex-wrap: wrap;
}

